*{
    font-family: 'Roboto', sans-serif;
}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Condensed', sans-serif;
*/
html, body {
    scroll-behavior: smooth;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
}
    body::-webkit-scrollbar {
        width: 0.2em;
    }
    body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    }
h1 {
    font-size: 40px;
}
h4{
    color: gray;
}
h5 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
h6{
    color: lightgray;
}

p {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.container div div ul{
    list-style: none;
}
.container-fluid{
    padding: 0;
}
    .container-fluid img{
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

/* navbar style start*/
.navbar {
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
}
    @media (max-width: 990px){
        .navbar ul {
            flex-direction:row;
            padding-left: 10vw;
        }
        .navbar ul li {
            margin: 0 10px;
        }
        h1 {
            font-size: 31px;
        }
        h2 {
            padding: 10px;
            font-size: 25px;
        }
        p {
            font-size: 15px;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }
    .navbar .navbar-brand {
        padding: 0 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
        color: rgb(220, 220, 220);
    }
    .navbar .navbar-brand:hover {
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
        transform: translateY(-2px);
        width: 295px;
        border: 1px solid white;
    }
        @media (max-width: 415px) {
            .navbar .navbar-brand{
                font-size: 1.5em;
            }
            .navbar .navbar-brand:hover {
                box-sizing: border-box;
                font-size: 1.5em;
                width: 230px;
                border: 0.5px solid white;
            }
            .img-left-shift{
                object-position: 90% 50%;
            }
            .img-map {
                display: none;
            }
            .img-map-sm {
                display: block;
            }
            .jumbotron h1{
                font-size: 50px;
                color: rgb(220, 220, 220);
            }
            .jumbotron p{
                padding:0 15px;
                font-size: 20px;
                color: rgb(220, 220, 220);
            }
            .col-lg-4 h2 {
                padding: 15px;
                font-size: 20px;
                color: rgb(220, 220, 220);
            }
            .col-lg-4 p {
                font-size: 15px;
                color: rgb(220, 220, 220);
            }
        }
        @media (min-width: 768px) {
            .img-map-sm {
                display: none;
            }
            .img-map {
                display: block;
            }
            .jumbotron h1{
                font-size: 60px;
                color: rgb(220, 220, 220);
            }
            .jumbotron p{
                padding: 15px;
                font-size: 25px;
                color: rgb(220, 220, 220);
            }
            .col-lg-4 h2 {
                padding: 15px;
                font-size: 20px;
                color: rgb(220, 220, 220);
            }
            .col-lg-4 p {
                font-size: 20px;
                color: rgb(220, 220, 220);
            }
        }
    .navbar .navbar-toggler {
        border-style: none;
    }
    .navbar ul li a:hover {
        transform: translateY(-2px);
    }
    .navbar ul li a:hover span {
        display: block;
    }
    .navbar ul li a span {
        display: none;
        top: -15px;
        position: absolute;
    }
/* navbar style end*/
/* carousel style start*/
#myCarousel h1, #myCarousel p {
    text-shadow: -1px -1px 5px black;
}
    .carousel-cover {
        height: 85vh;
        width: 100vw;
        object-fit: cover;
    }
    .carousel-indicators {
        position: fixed;
        bottom: 0;
    }
    .carousel-player i {
        position: absolute;
        left: 6.5vw;
        bottom: 1.5vw;
        z-index: 9999;
        color: white;
        background: none;
        border: none;
    }
    .carousel-pauser i {
        position: absolute;
        right: 6.5vw;
        bottom: 1.5vw;
        z-index: 9999;
        color: white;
        background: none;
        border: none;
    }
/* carousel style end*/
/* jumbotron style start */
.jumbotron {
    background-color: rgb(20, 20, 20);
}
/* jumbotron style end */
/* card style start */
.card-text{
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
/* card style end */
.media-img {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}
.imgfilter{
    filter: grayscale(75%);
}
.table-dark {
    color: #fff;
    background-color: rgb(20,20,20);
}
th{
    width: 10vw;
}
.display-6 {
    font-size: 18px;
}
/* Media style start */
.media{
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    border: 2px solid rgb(220, 220, 220);
}
    .media img {
        border: 2px solid rgb(20, 20, 20);
        width: 150px;
        height: 150px;
    }
    .media h5 {
        font-size: 20px;
        color: rgb(220, 220, 220);
    }
    .media p {
        font-size: 15px;
        color: rgb(220, 220, 220);
    }
@media (max-height: 960px) {
    .carousel-cover {
        height: 90vh;
        width: 100vw;
        object-fit: cover;
    }
}