body{
    background-color: blanchedalmond;
}

#myCanvas1 {
    margin-top: 100px;
    background-color: white ;
}

#myCanvas2 {
    margin-top: 10px;
    background-color: white ;
}

img{
    display:none;
    width:100px;
}